<div class="swiper-wrapper">
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/01.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/02.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/03.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/04.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/05.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/06.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/07.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/08.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/09.png" class="img-responsive standout-item-image" />
	</div>
	<div class="standout-item swiper-slide" onclick="angular.element($(this)).scope().showStandoutPopupDialog($(this))">
		<img src="img/test/10.png" class="img-responsive standout-item-image" />
	</div>
	
</div>
<div class="pagination"></div>