<div id="footer-menu" class="row">
	<div class="col-onefifth footer-menu-item-container footer-lookingnow-container">
		<a class="footer-menu-item" data-toggle="modal" data-target="#lookingNowModal"><span class="iconmoon-binoculars"></span>&nbsp;</a>
	</div>
	<div class="col-onefifth footer-menu-item-container">
		<a class="footer-menu-item" data-ng-click="gotoProfilePage()"><i class="fa fa-user"></i>&nbsp;</a>
	</div>
	<div class="col-onefifth footer-menu-item-container footer-location-container">	
		<a class="footer-menu-item" data-toggle="modal" data-target="#locationDialog"><span class="iconmoon-locator2"></span>&nbsp;</a>
	</div>
	<div class="col-onefifth footer-menu-item-container">
		<a class="footer-menu-item" data-toggle="modal" data-target="#searchMembersModal"><i class="fa fa-search"></i>&nbsp;</a>
	</div>
	<div class="col-onefifth footer-menu-item-container">
		<a class="footer-menu-item" data-ng-click="gotoSettingsPage()"><i class="fa fa-gear"></i>&nbsp;</a>
	</div>
	<div class="clearfix"></div>
</div>