<div class="modal-dialog modal-dialog-width-100 modal-dialog-topleft-aligned">
    <div class="modal-content modal-content-no-border">
      <!-- Name Change -->
      <div class="modal-body modal-body-standoutstrip modal-body-orange">
      
	      	<div class="row position-relative">
	      		<div class="col-xs-12 sos-memberinfo-container">
	      			<h3>Tallguy&nbsp;<i class="fa fa-arrow-right"></i></h3>
	      			<div class="row activity-row">
	      				<div class="col-xs-3">
	      					<span><i class="fa fa-star-o"></i></span>
	      				</div>
	      				<div class="col-xs-3">
	      					<span><span class="iconmoon-woof2"></span></span>
	      				</div>
	      				<div class="col-xs-3">
	      					<span><i class="fa fa-lock"></i></span>
	      				</div>
	      				<div class="col-xs-3"></div>
	      			</div>
	      			<div class="form-group form-group-flat">
			        	<label for="communityText">Community Message:</label>
			        	<div class="communityTextContainer commentpin-leftbottom-grey">
			        		Hey is anyone up for a boring conversation about life?
			        	</div>
			      	</div>
	      		</div>
	      		
	      		<div class="sos-profilepic-container">
	      			<img src="img/test/01.png" class="img-responsive sos-profilepic" />
	      		</div>
	      	</div>
        
        	<div class="row">
        		<div class="col-xs-12">
        		
        			<div class="message-input-container">
        				<div class="message-input-wrapper commentpin-rightmiddle-white">
        					<div class="form-group form-group-base-messageinput form-control-displayascell">
        						<input type="text" class="form-control form-control-messagebase" id="standout_sendmessage_text" placeholder="MY PRIVATE RESPONSE">
        					</div>
        					<div class="sendmessage-btn"><i class="fa fa-envelope"></i></div>
						</div>
        				<div class="message-profilepic-container">
        					<div style="width: 30px; height: 40px; padding-top: 5px;">
        						<img src="img/test/02.png" class="img-responsive" />
        					</div>
        				</div>
        			</div>
        		
        		</div>
        	</div>
      </div>
      <!-- Name Change End -->
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  
  <div class="container-backdrop fade" id="photoMemberGridBackdrop"></div>